body {
  background-color: burlywood;
  background-image: url("teste.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 2000px;
}

div {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background: url("teste.jpeg") no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 10px #000; /*Sombra interna*/
  box-shadow: 5px 5px 10px #000;
  box-shadow: 5px 5px 10px #000, 5px 5px 10px red;
  box-shadow: 5px 5px #000;
}